@using App.Domain.Core.Dtos.Products;
@model List<BoothDto>;


<div class="row m-10">
    <!-- col -->
    <br /><br /><br /><br /><br /><br /><br />
    @foreach(var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
            <article>
                <a href="" class="img-layer"><img src="/images/@item.Image.ImagePath"></a><br/>
                <span> <b>@item.Name</b> </span><br />
                تاریخ ایجاد: <span> @item.CreatedAt </span><br />
                تلفن: <span> @item.Phone </span><br />
                شهر: <span> @item.City.Name </span><br />
                توضیحات: <span> @item.Description </span><br />

                <a class="btn btn-primary btn-sm" href="/admin/booths/editbooth/@item.Id"> ویرایش </a>
                <a class="btn btn-danger btn-sm" href="/admin/booths/deletebooth/@item.Id"> حذف </a>
            </article>
        </div>
    
    }
   
</div>
