@using App.Domain.Core.Dtos.Admin;
@model List<ProductAdminDto>;
@{
    int id = 0;
    string name = null;
    string boothName = null;
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست کالاها</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="card-deck row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mt-4 border-1">
            <br />
            @{
                var photopaths = "~/images/" + @item.ImagePath.First().ToString();
            }
            <div class="card m-3" style="min-width: 18rem;max-width: 20.5%">
                <div class="card-header ">
                    <h3>@item.Name</h3>

                </div>
                <img class="card-img-top imageThumbnail" src=@photopaths
                     asp-append-version="true" />

                <div class="card-body mt-1">
                    قیمت :  @item.price <br /><br />
                    نام فروشگاه : @item.BoothName <br /><br />
                    @item.Description

                </div>
                <div style="display: none;">
                    @(id = item.Id)@(name = item.Name)@(boothName = item.BoothName)
                </div>

                <div class="card-footer">
                    @*  <a asp-page="/Flowers/Detail" asp-route-ID="@item.Id"
                class="btn-primary btn m-1">Detail</a> *@
                    <a href="/Admin/Products/EditProduct/@item.Id"
                       class="btn-primary btn m-1">ویرایش</a>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">حذف</a>


                </div>
            </div>
        </div>
    }
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">هشدار</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   آیا از حذف کالای @name در فروشگاه @boothName اطمینان دارید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بازگشت</button>
                    <a class="btn btn-danger" href="/Admin/products/Delete/@id">حذف</a>
                </div>
            </div>
        </div>
    </div>

</div>